.header-container {
    padding: var(--container-padding);
    box-sizing: border-box;
    position: sticky;
    z-index: 100;
    background-color: var(--main-bg-color);
    padding-left: 1.2rem;
    .header-title-content {
        font-weight: 800;
        color: var(--main-color);
        box-sizing: border-box;
        font-size: var(--content-title-font-size);
    }
}